# General / System
.DS_Store
.AppleDouble
.LSOverride
Icon
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE / Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-project
*.sublime-workspace

# Node / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Frameworks / Generated Types
.astro/

# Rust / Cargo
/target/
debug/
**/*.rs.bk
*.pdb

# Tauri / Project Specific
/gen/schemas
/tmp
/dist-isolation
/.gamus
/gamus.db